@model SEDCWebApplication.ViewModels.CustomerDetailsViewModel

<img class="figure-img align-content-lg-center col-7" src="@Model.ImagePath" alt="Card image" style="width:100%">
<h1>@Model.PageTitle</h1>
<h1>@Model.Name</h1>

    <h3>@Model.Email</h3>
    <h3>Some example text some example text. John Doe is an architect and engineer</h3>

