@model SEDCWebApplication.ViewModels.CustomerDetailsViewModel

<img class="figure-img align-content-lg-center col-7" src="~/img/avatar.png" alt="Card image" style="width:100%">
<h1>@Model.PageTitle</h1>
<h1>@Model.Customer.Name</h1>
    <h2>@Model.Customer.Phone</h2>
    <h3>@Model.Customer.Email</h3>
    <h3>Some example text some example text. John Doe is an architect and engineer</h3>

