@{
    ViewBag.Title = "Privacy Admin";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>Mi smo nesto dodali.</p>


@section Scripts {
    <script src="~/js/custom.js"></script>
}
