@model ProductDetailsViewModel

<img class="figure-img align-content-lg-center col-7" src="@Model.ImagePath" alt="Card image" style="width:100%">
<h1>@Model.Name's details</h1>
<h2>@Model.UnitPrice</h2>
<h3>@Model.Size</h3>
<h3>Some example text some example text. John Doe is an architect and engineer</h3>