@model ProductDetailsViewModel

<img class="figure-img align-content-lg-center col-7"  src=@Model.ImagePath alt="Card image" style="width:100%">
<h1>@Model.Name</h1>
<h2>@Model.Size</h2>
<h3>@Model.Description</h3>
<h3>@Model.UnitPrice RSD</h3>